body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important;
  font-family: "Inter", sans-serif !important;
  height: 100vh !important;
}
html {
  height: 100vh !important;
}

.css-gl260s-MuiDataGrid-columnHeadersInner {
  background-color: #1976d2;
  color: aliceblue;
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
  background-color: #0842a0 !important;
  color: aliceblue !important;
  border-radius: 25px !important;
  margin-left: 20px;
}
